* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  font-family: 'Space Mono', monospace;
}

html,
body {
  padding: 0;
  margin: 0;
}

.hidden {
  display: none;
}

.heavy {
  font-weight: 600;
}

.whiteText {
  color: #fff;
}

.darkCyanText {
  color: hsl(183, 100%, 15%);
}

.darkCyanBackground {
  background-color: hsl(183, 100%, 15%);
}

.darkGreyishCyan1 {
  color: hsl(186, 14%, 43%);
}

.darkGreyishCyan2 {
  color: hsl(184, 14%, 56%);
}

.lightGreyishCyan1 {
  background-color: hsl(185, 9%, 77%);
}

.lightGreyishCyanBackground2 {
  background-color: hsl(189, 41%, 97%);
}

.lightGreyishCyanText2 {
  color: hsl(189, 41%, 97%);
}

.lightCyanBackground {
  background-color: hsl(173deg 61% 77%);
}

.strongGreenText {
  color: hsl(172, 67%, 45%);
}

.strongGreenBackground {
  background-color: hsl(172, 67%, 45%);
}

.relative {
  position: relative;
}

.flexbox {
  display: flex;
}

.flexWrap {
  flex-wrap: wrap;
}

.flex1 {
  flex: 1;
}

.mb5 {
  margin-bottom: 5px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb15 {
  margin-bottom: 15px;
}

.mb40 {
  margin-bottom: 40px;
}

.p15 {
  padding: 15px;
}

.p30 {
  padding: 30px;
}

.p35 {
  padding: 35px;
}

.p40 {
  padding: 40px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

main {
  min-height: 100vh;
  background-color: hsl(185deg 41% 84%);
  padding: 45px 0;
}

h1 {
  text-align: center;
  font-size: 23px;
  font-weight: 500;
  letter-spacing: 7px;
  line-height: 30px;
  margin-bottom: 40px;
}

.calculator {
  margin: 0 auto;
  background-color: #fff;
  border-radius: 10px;
  max-width: 920px;
  justify-content: space-between;
  padding: 20px;
  flex-wrap: wrap;
}

.calculator > div {
  width: calc(100% - 15px);
}

.rightSide {
  border-radius: 15px;
  padding: 30px;
}

.rightSide > div {
  margin-bottom: 20px;
}

h2 {
  font-size: 15px;
}

.inputContainer {
  height: 50px;
  width: 100%;
}

input {
  height: 46px;
  width: 100%;
  border-radius: 5px;
  text-align: right;
  padding: 15px;
  color: #00494d;
  font-size: 24px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

input:focus {
  border: 2px solid hsl(172, 67%, 45%);
  box-shadow: 0px 0px 8px -3px hsl(186deg 14% 43%);
}

.labelImage {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  height: 17px;
}

.smallButtonContainer {
  cursor: pointer;
}

.smallButtonContainer:hover, #resetButton:hover {
  background-color: hsl(173deg 61% 77%);
  color: hsl(183, 100%, 15%);
}

.smallButtonContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.smallButtonContainer div {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}

#customTip {
  text-align: center;
}

button {
  height: 50px;
}

button:hover {
  cursor: pointer;
}

.setInput {
  justify-content: space-between;
}

.setInput * {
  flex-basis: calc(50% - 10px);
  border-radius: 5px;
  flex-grow: 0;
  font-size: 20px;
  height: 46px;
}

.errorBorder {

}

.tipText {
  flex-direction: column;
  justify-content: center;
}

.rightStandard {
  font-size: 16px;
}

.rightSmall {
  font-size: 14px;
}

.rightSideNumber {
  margin-left: auto;
  font-size: 44px;
}

#resetButton {
  bottom: 40px;
  width: 100%;
  border-radius: 5px;
  font-size: 19px;
  font-weight: 600;
}

@media screen and (min-width: 768px) {

  main {
    padding: 160px 20px;
  }

  h1 {
    margin-bottom: 85px;
  }

  .calculator {
    padding: 35px;
    flex-wrap: nowrap;
  }

  .calculator > div {
    width: calc(50% - 15px);
  }

  #customTip {
    text-align: left;
  }

  .setInput * {
    flex-basis: calc(33% - 10px);
  }

  .rightSide {
    padding: 40px;
  }

  .rightSide > div:first-of-type {
    margin-bottom: 40px;
  }

  .rightStandard {
    font-size: 14px;
  }

  .rightSmall {
    font-size: 12px;
  }

  #resetButton {
    position: absolute;
    width: calc(100% - 80px);
  }

}